#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release

override_dh_auto_install:
	dh_auto_install
	install -D -m 644 debian/ttyd.service debian/ttyd/usr/lib/systemd/system/ttyd.service
